main {
    text-align: center;
    margin-top: 20px;
}

/* Space between input and button controls */
.my-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Text in the Information page  */
.info {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

/* Used for password hints */
.hint {
    display: inline-block;
    color: var(--material-text-input-inactive-color);
}

.tutorial-steps {
    z-index: 2;
    position: fixed;
    display: block;
    width: 100%;
    bottom: 10%;
    text-align: center;    
}

.tutorial-steps-svg {    
}

.arrow {
    padding-left: 1em;
    padding-right: 1em;
}

.export-text {
    width: 90%;
}

.import-text {
    width: 90%;    
}

:root {
    --base: #3852ec;
    --main: #77aaff;
    --widget-background: #2979ff;
    
  /* variables for iOS components */
  --background-color: #efeff4;
  --text-color: #1f1f21;
  --sub-text-color: #999;
  --highlight-color-rgb: 0, 118, 255;
  --highlight-color: rgb(var(--highlight-color-rgb));
  --second-highlight-color: #25a6d9;
  --border-color: #ccc;
  --button-background-color: var(--highlight-color);
  --button-cta-background-color: var(--second-highlight-color);
  --toolbar-background-color: var(--main);
  --toolbar-button-color: var(--highlight-color);
  --toolbar-text-color: #fafafa;
  --toolbar-border-color: #b2b2b2;
  --button-bar-color: var(--highlight-color);
  --button-bar-active-text-color: #fff;
  --button-bar-active-background-color: unset;
  --button-bar-active-background-color-default-blend-color: white;
  --button-bar-active-background-color-default-blend-time: -0.7s;
  --button-light-color: black;
  --segment-color: var(--highlight-color);
  --segment-active-text-color: #fff;
  --segment-active-background-color: unset;
  --segment-active-background-color-default-blend-color: white;
  --segment-active-background-color-default-blend-time: -0.7s;
  --list-background-color: #fff;
  --list-header-background-color: #eee;
  --list-tap-active-background-color: #d9d9d9;
  --list-item-chevron-color: #c7c7cc;
  --progress-bar-color: var(--highlight-color);
  --progress-bar-secondary-color: #65adff;
  --progress-bar-background-color: transparent;
  --progress-circle-primary-color: var(--highlight-color);
  --progress-circle-secondary-color: #65adff;
  --progress-circle-background-color: transparent;
  --tabbar-background-color: var(--main);
  --tabbar-text-color: var(--text-color);
  --tabbar-highlight-text-color: #fafafa;
  --tabbar-border-color: #ccc;
  --switch-highlight-color: #44db5e;
  --switch-border-color: #e5e5e5;
  --switch-background-color: white;
  --range-track-background-color: #a4aab3;
  --range-track-background-color-active: var(--highlight-color);
  --range-thumb-background-color: #fff;
  --modal-background-color: rgba(0, 0, 0, 0.7);
  --modal-text-color: #fff;
  --alert-dialog-background-color: #f4f4f4;
  --alert-dialog-text-color: #1f1f21;
  --alert-dialog-button-color: var(--highlight-color);
  --alert-dialog-separator-color: #ddd;
  --dialog-background-color: #f4f4f4;
  --dialog-text-color: var(--text-color);
  --popover-background-color: white;
  --popover-text-color: #1f1f21;
  --action-sheet-title-color: #8f8e94;
  --action-sheet-button-separator-color: rgba(0, 0, 0, 0.1);
  --action-sheet-button-color: var(--highlight-color);
  --action-sheet-button-destructive-color: #fe3824;
  --action-sheet-button-background-color: rgba(255, 255, 255, 0.9);
  --action-sheet-button-active-background-color: #e9e9e9;
  --action-sheet-cancel-button-background-color: #fff;
  --notification-background-color: #fe3824;
  --notification-color: white;
  --search-input-background-color: rgba(3, 3, 3, 0.09);
  --fab-text-color: #ffffff;
  --fab-background-color-rgb: var(--highlight-color-rgb);
  --fab-background-color: rgba(var(--fab-background-color-rgb));
  --fab-active-background-color: rgba(var(--fab-background-color-rgb), 0.7); /* color-mod(var(--fab-background-color) a(70%)) */
  --card-background-color: white;
  --card-text-color: #030303;
  --toast-background-color: rgba(0, 0, 0, 0.8);
  --toast-text-color: white;
  --toast-button-text-color: white;
  --select-input-color: var(--text-color);
  --select-input-border-color: var(--border-color);

  /* variables for Material Design components */
  --material-background-color: #eceff1;
  --material-text-color: var(--text-color);
  --material-notification-background-color: #e91e63;
  --material-notification-color: white;
  --material-switch-active-thumb-color: var(--widget-background);
  --material-switch-active-background-color: rgba(41,121,255, 0.5); /* color-mod(#37474f a(50%)) */
  --material-switch-inactive-thumb-color: #f1f1f1;
  --material-switch-inactive-background-color: #b0afaf;
  --material-range-track-color: #bdbdbd;
  --material-range-thumb-color: #31313a;
  --material-range-disabled-thumb-color: #b0b0b0;
  --material-range-disabled-thumb-border-color: #eeeeee;
  --material-range-zero-thumb-color: #f2f2f2;
  --material-toolbar-background-color: var(--main);
  --material-toolbar-text-color: #fafafa;
  --material-toolbar-button-color: #1e88e5;
  --material-segment-background-color: #fafafa;
  --material-segment-active-background-color: #c8c8c8;
  --material-segment-text-color: rgba(0, 0, 0, 0.38); /* color-mod(black a(38%)) */
  --material-segment-active-text-color: #353535;
  --material-button-background-color: var(--widget-background);
  --material-button-text-color: #ffffff;
  --material-button-disabled-background-color: rgba(79, 79, 79, 0.26); /* color-mod(#4f4f4f a(26%)) */
  --material-button-disabled-color: rgba(0, 0, 0, 0.26); /* color-mod(black a(26%)) */
  --material-flat-button-active-background-color: rgba(153, 153, 153, 0.2); /* color-mod(#999 a(20%)) */
  --material-list-background-color: #fff;
  --material-list-item-separator-color: #eee;
  --material-list-header-text-color: #757575;
  --material-checkbox-active-color: var(--widget-background);
  --material-checkbox-inactive-color: #717171;
  --material-checkbox-checkmark-color: #ffffff;
  --material-radio-button-active-color: var(--widget-background);
  --material-radio-button-inactive-color: #717171;
  --material-radio-button-disabled-color: #afafaf;
  --material-text-input-text-color: #212121;
  --material-text-input-active-color: var(--widget-background);
  --material-text-input-inactive-color: #afafaf;
  --material-search-background-color: #fafafa;
  --material-dialog-background-color: #ffffff;
  --material-dialog-text-color: var(--material-text-color);
  --material-alert-dialog-background-color: #ffffff;
  --material-alert-dialog-title-color: #31313a;
  --material-alert-dialog-content-color: rgba(49, 49, 58, 0.85);
  --material-alert-dialog-button-color: #37474f;
  --material-progress-bar-primary-color: #37474f;
  --material-progress-bar-secondary-color: #548ba7;
  --material-progress-bar-background-color: transparent;
  --material-progress-circle-primary-color: var(--material-progress-bar-primary-color);
  --material-progress-circle-secondary-color: var(--material-progress-bar-secondary-color);
  --material-progress-circle-background-color: transparent;
  --material-tabbar-background-color: var(--main);
  --material-tabbar-text-color: #31313a;
  --material-tabbar-highlight-text-color: #fafafa;
  --material-tabbar-highlight-color: rgba(250, 250, 250, 0.1);
  --material-fab-text-color: #31313a;
  --material-fab-background-color: #ffffff;
  --material-fab-active-background-color: rgba(255, 255, 255, 0.75);
  --material-card-background-color: white;
  --material-card-text-color: rgba(0, 0, 0, 0.54);
  --material-toast-background-color: rgba(0, 0, 0, 0.8);
  --material-toast-text-color: white;
  --material-toast-button-text-color: #bbdefb;
  --material-select-input-color: var(--material-text-color);
  --material-select-input-active-color: rgba(0, 0, 0, 0.15);
  --material-select-input-inactive-color: rgba(0, 0, 0, 0.81);
  --material-select-border-color: rgba(0, 0, 0, 0.12); /* color-mod(black a(12%)) */
  --material-popover-background-color: #fafafa;
  --material-popover-text-color: var(--material-text-color);
  --material-action-sheet-text-color: #686868;

  /* others */
  --tap-highlight-color: transparent;
}
